.fa-discord {
  color: #0f25a0;
  color: #000000;
}

.fa-facebook {
  color: #2956cb;
  color: #000000;
}

.fa-instagram {
  color: #bb2f82;
  color: #000000;
}

.fa-linkedin {
  color: #4347c9;
  color: #000000;
}

.fa-envelope {
  color: #60c0e6;
  color: #000000;
}

.fa-paypal {
  color: #2956cb;
  color: #000000;
}

.fa-snapchat-ghost {
  color: #f4ee41;
  color: #000000;
}

.fa-twitter {
  color: #4fa0e3;
  color: #000000;
}

.fa-youtube {
  color: #ff0000;
  color: #000000;
}

.fa-stack-overflow {
  color: #ffec18;
  color: #000000;
}

.fa-github {
  color: #ffec18;
  color: #000000;
}

.fa-gitlab {
  color: #ffec18;
  color: #000000;
}

.fa-soundcloud {
  color: #ffec18;
  color: #000000;
}
